html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:active, a:focus {
  outline: none; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }

@font-face {
  font-family: "LeagueGothic-Regular";
  src: url("../fonts/LeagueGothic-Regular.otf") format("opentype"); }
.main-wrapper {
  width: 100%; }
  .main-wrapper .header {
    max-width: 1020px;
    min-width: 320px;
    margin: 0 auto;
    height: 90px; }
    .main-wrapper .header__wrapper {
      margin: 0 auto; }
      .main-wrapper .header__wrapper_logo {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-wrapper .header__wrapper_logo-logo {
          margin: 0 auto;
          padding: 15px 0 18px 160px; }
        .main-wrapper .header__wrapper_logo-social {
          padding: 0 35px 0 0;
          cursor: pointer; }
      .main-wrapper .header__wrapper_nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        font-family: "Arial", sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #707070;
        text-transform: uppercase;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
        width: 365px; }
        .main-wrapper .header__wrapper_nav-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          padding: 0 25px;
          cursor: pointer; }
          .main-wrapper .header__wrapper_nav-item-active {
            padding: 5px;
            width: 65px;
            height: 18px;
            background: -webkit-gradient(linear, left top, left bottom, from(#0879a8), to(#045279));
            background: linear-gradient(to bottom, #0879a8, #045279);
            color: #f0f6f9;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            text-align: center;
            cursor: pointer; }
  .main-wrapper .main-content {
    max-width: 1020px;
    min-width: 320px;
    margin: 0 auto;
    position: relative; }
    .main-wrapper .main-content__wrap {
      background: url(../img/main-img.png) no-repeat top/cover;
      height: 435px;
      border: 2px solid #22aaec; }
      .main-wrapper .main-content__wrap-wrp {
        height: 80px;
        max-width: 285px;
        background: rgba(255, 255, 255, 0.7);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 90px auto 20px auto; }
        .main-wrapper .main-content__wrap-wrp-article {
          font-family: "LeagueGothic-Regular", sans-serif;
          font-size: 60px;
          text-transform: uppercase;
          color: #076e9f;
          text-align: center; }
          .main-wrapper .main-content__wrap-wrp-article-clr {
            color: #22aaec; }
      .main-wrapper .main-content__wrap-hole {
        height: 47px;
        max-width: 777px;
        background: rgba(255, 255, 255, 0.7);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto; }
        .main-wrapper .main-content__wrap-hole-keep {
          font-family: "LeagueGothic-Regular", sans-serif;
          text-transform: uppercase;
          font-size: 30px;
          color: #076e9f; }
          .main-wrapper .main-content__wrap-hole-keep-clr {
            color: #22aaec; }
      .main-wrapper .main-content__wrap__people {
        margin-top: 80px;
        height: 120px;
        background: url(../img/PEOPLE.png) no-repeat 100% 10% rgba(0, 0, 0, 0.5); }
    .main-wrapper .main-content__container_ctn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .main-wrapper .main-content__container_ctn__aside {
        max-width: 230px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        border-right: 1px dotted #ececec;
        padding-left: 33px; }
        .main-wrapper .main-content__container_ctn__aside-about {
          border-bottom: 1px solid #ececec;
          padding-bottom: 22px; }
          .main-wrapper .main-content__container_ctn__aside-about-article {
            font-family: "LeagueGothic-Regular", sans-serif;
            font-size: 22px;
            text-align: left;
            color: #076e9f;
            padding: 30px 0 10px 0;
            text-transform: uppercase; }
          .main-wrapper .main-content__container_ctn__aside-about-keep {
            font-family: 'Arial', sans-serif;
            font-size: 10px;
            color: #5c5c5c;
            text-align: left;
            line-height: 1.35em;
            width: 174px;
            font-weight: bold;
            padding-bottom: 15px; }
            .main-wrapper .main-content__container_ctn__aside-about-keep-clr {
              color: #4492b7;
              font-weight: bold;
              font-size: 10px;
              font-family: 'Arial', sans-serif; }
        .main-wrapper .main-content__container_ctn__aside-posts {
          position: relative;
          border-bottom: 1px solid #ececec; }
          .main-wrapper .main-content__container_ctn__aside-posts-article {
            font-family: "LeagueGothic-Regular", sans-serif;
            font-size: 22px;
            color: #076e9f;
            text-transform: uppercase;
            padding: 15px 0 15px 0;
            text-align: left; }
          .main-wrapper .main-content__container_ctn__aside-posts-img {
            position: relative;
            left: -35px;
            top: -20px;
            cursor: pointer; }
        .main-wrapper .main-content__container_ctn__aside-currency {
          padding-top: 5px;
          padding-bottom: 45px;
          border-bottom: 1px solid #ececec;
          cursor: pointer; }
      .main-wrapper .main-content__container_ctn-poz {
        width: 74%;
        position: absolute;
        top: 425px;
        z-index: 11111;
        max-height: 250px;
        background: #fff;
        border-top: 2px solid #22aaec;
        border-right: 1px dotted #ececec; }
        .main-wrapper .main-content__container_ctn-poz-article {
          font-family: "LeagueGothic-Regular", sans-serif;
          font-size: 32px;
          color: #076e9f;
          text-transform: uppercase;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 30px;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
          width: 305px;
          padding: 30px 0 15px 12px; }
        .main-wrapper .main-content__container_ctn-poz-metacontext {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
          border-bottom: 1px solid #ececec; }
          .main-wrapper .main-content__container_ctn-poz-metacontext-meta {
            height: 50px;
            padding: 0 25px 0 15px; }
          .main-wrapper .main-content__container_ctn-poz-metacontext-keep {
            font-size: 10px;
            font-family: 'Arial', sans-serif;
            color: #5c5c5c;
            text-align: left;
            width: 60%;
            line-height: 1.7em;
            position: relative; }
            .main-wrapper .main-content__container_ctn-poz-metacontext-keep-rm {
              position: absolute;
              bottom: 16px;
              left: 0;
              padding: 5px;
              width: 72px;
              height: 25px;
              background: -webkit-gradient(linear, left top, left bottom, from(#0879a8), to(#045279));
              background: linear-gradient(#0879a8, #045279);
              color: #f0f6f9;
              vertical-align: middle;
              border: none;
              text-align: center;
              font-size: 10px;
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              cursor: pointer; }
            .main-wrapper .main-content__container_ctn-poz-metacontext-keep-img {
              position: relative;
              bottom: -10px;
              right: 150px;
              cursor: pointer; }
      .main-wrapper .main-content__container_ctn-about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        background: #fff;
        padding-top: 190px;
        margin: 0 auto;
        position: relative;
        border-bottom: 1px solid #ececec; }
        .main-wrapper .main-content__container_ctn-about-first {
          background: url(../img/SOCIAL-DATA.png) no-repeat 100% 105% #eaeaea;
          border-radius: 25px 0 0 0;
          height: 215px;
          position: relative;
          cursor: pointer;
          margin: 15px 0 10px 30px;
          box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31);
          -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31);
          -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31); }
          .main-wrapper .main-content__container_ctn-about-first h1 {
            text-transform: uppercase;
            font-family: "LeagueGothic-Regular", sans-serif;
            color: #076e9f;
            font-size: 22px;
            padding: 25px 0 8px 30px;
            font-weight: bold; }
          .main-wrapper .main-content__container_ctn-about-first-pos {
            font-family: 'Arial', sans-serif;
            font-size: 10px;
            color: #878787;
            padding: 0 0 35px 30px; }
          .main-wrapper .main-content__container_ctn-about-first-clr {
            color: #1475a3;
            font-weight: bold;
            font-size: 10px;
            font-family: 'Arial', sans-serif; }
          .main-wrapper .main-content__container_ctn-about-first-keep {
            font-family: 'Arial', sans-serif;
            font-size: 10px;
            color: #6d6d6d;
            padding: 0 55px 0 30px;
            width: 260px;
            line-height: 1.3em; }
          .main-wrapper .main-content__container_ctn-about-first-more {
            color: #1475a3;
            font-weight: bold;
            font-size: 10px;
            font-family: 'Arial', sans-serif;
            padding: 5px 0 0 30px; }
        .main-wrapper .main-content__container_ctn-about-second {
          background: url(../img/SOCIAL-DATA2.png) no-repeat 90% 105% #eaeaea;
          border-radius: 25px 0 0 0;
          height: 215px;
          margin: 15px 0 10px 30px;
          position: relative;
          cursor: pointer;
          box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31);
          -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31);
          -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31); }
          .main-wrapper .main-content__container_ctn-about-second h1 {
            text-transform: uppercase;
            font-family: "LeagueGothic-Regular", sans-serif;
            color: #076e9f;
            font-size: 22px;
            padding: 25px 0 8px 30px;
            font-weight: bold;
            width: 215px; }
          .main-wrapper .main-content__container_ctn-about-second-pos {
            font-family: 'Arial', sans-serif;
            font-size: 10px;
            color: #878787;
            padding: 0 0 15px 30px; }
          .main-wrapper .main-content__container_ctn-about-second-clr {
            color: #1475a3;
            font-weight: bold;
            font-size: 10px;
            font-family: 'Arial', sans-serif; }
          .main-wrapper .main-content__container_ctn-about-second-keep {
            font-family: 'Arial', sans-serif;
            font-size: 10px;
            color: #6d6d6d;
            padding: 0 55px 0 30px;
            width: 260px;
            line-height: 1.3em; }
          .main-wrapper .main-content__container_ctn-about-second-more {
            color: #1475a3;
            font-weight: bold;
            font-size: 10px;
            font-family: 'Arial', sans-serif;
            padding: 5px 0 0 30px; }
        .main-wrapper .main-content__container_ctn-about-foot {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: relative;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          height: 83px;
          margin-left: 30px;
          width: 93%;
          min-width: 270px;
          background: #eaeaea;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-family: 'Arial', sans-serif;
          font-size: 10px;
          font-weight: bold;
          color: #878787;
          cursor: pointer;
          box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31);
          -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31);
          -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.31); }
    .main-wrapper .main-content-info {
      font-family: "LeagueGothic-Regular", sans-serif;
      font-size: 32px;
      color: #076e9f;
      padding: 15px 0 18px 35px;
      text-transform: uppercase; }
    .main-wrapper .main-content-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 33px;
      border-bottom: 1px solid #ececec; }
      .main-wrapper .main-content-footer-logo {
        padding-left: 35px; }
      .main-wrapper .main-content-footer-navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .main-wrapper .main-content-footer-navbar div {
          margin-right: 30px;
          cursor: pointer;
          font-family: 'Arial', sans-serif;
          font-size: 10px;
          text-transform: uppercase;
          color: #707070; }
    .main-wrapper .main-content-rights {
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      font-family: 'Arial', sans-serif;
      color: #707070;
      padding: 15px 0; }

@media screen and (max-width: 998px) {
  .main-wrapper .main-content__container_ctn-about-first {
    width: 45%;
    min-width: 270px; }

  .main-wrapper .main-content__container_ctn-about-first h1 {
    font-size: 15px; }

  .main-wrapper .main-content__container_ctn-about-first-keep {
    padding: 0 10px 0 10px; }

  .main-wrapper .main-content__container_ctn-about-second {
    width: 45%;
    min-width: 270px; }

  .main-wrapper .main-content__container_ctn-about-second h1 {
    font-size: 15px; }

  .main-wrapper .main-content__container_ctn-about-second-keep {
    padding: 0 10px 0 10px; } }
@media screen and (max-width: 846px) {
  .main-wrapper {
    overflow: hidden; }

  .main-wrapper .main-content__wrap-wrp {
    height: 60px;
    width: 175px; }

  .main-wrapper .main-content__wrap-wrp-article {
    font-size: 40px; }

  .main-wrapper .main-content__wrap-hole {
    height: 30px; }

  .main-wrapper .main-content__wrap-hole-keep {
    font-size: 18px; }

  .main-wrapper .main-content__container_ctn-about-foot {
    width: 270px;
    margin-top: 10px; }

  .main-wrapper .main-content__container_ctn-poz-metacontext-keep-img {
    display: none; }

  .main-wrapper .main-content__container_ctn-poz-metacontext-keep-rm {
    display: none; } }
@media screen and (max-width: 550px) {
  .main-wrapper .header__wrapper_logo-logo {
    padding: 10px 0 10px 0;
    text-align: center; }

  .main-wrapper .header__wrapper_nav-item {
    padding: 0 10px; }

  .main-wrapper .main-content__wrap-wrp {
    height: 40px;
    width: 125px; }

  .main-wrapper .main-content__container_ctn-poz {
    width: 357px; }

  .main-wrapper .main-content__wrap-wrp-article {
    font-size: 20px; }

  .main-wrapper .main-content__wrap-hole {
    height: 30px; }

  .main-wrapper .main-content__wrap-hole-keep {
    font-size: 15px; }

  .main-wrapper .main-content__container_ctn__aside {
    display: none; }

  .main-wrapper .main-content__container_ctn-poz-metacontext-meta {
    display: none; }

  .main-wrapper .main-content__container_ctn-poz-article {
    font-size: 18px;
    margin: 0 auto;
    padding: 15px 0; }

  .main-wrapper .main-content__container_ctn-poz-metacontext-keep {
    margin: 0 auto; }

  .main-wrapper .main-content-info {
    font-size: 18px; }

  .main-wrapper .main-content__container_ctn-about-first,
  .main-wrapper .main-content__container_ctn-about-second,
  .main-wrapper .main-content__container_ctn-about-foot {
    margin: 10px auto; } }

/*# sourceMappingURL=style.css.map */